<h1 mat-dialog-title> {{ cliente!=null ? 'Modificar Usuario' : "Nuevo Usuario" }}</h1>
<div mat-dialog-content>
    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput [(ngModel)]="nombre">
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>Apellido Paterno</mat-label>
        <input matInput [(ngModel)]="apellidoPaterno">
    </mat-form-field><br>
    <mat-form-field>
    <mat-label>Apellido Materno</mat-label>
        <input matInput [(ngModel)]="apellidoMaterno">
    </mat-form-field><br>
    <mat-form-field>
        <mat-label>DNI</mat-label>
        <input matInput [(ngModel)]="dni">
    </mat-form-field><br>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="close()">Cancelar</button>
    <button mat-raised-button color="primary" 
    (click)="cliente!=null ? putCliente() : addCliente()">Guardar</button>
</div>